#hoop{
 
    left: 460px;
    top: 20px;
}

.ball{
    height: 100px;
    width: 100px;
    
}
#b1 {
    float: left;
}

#b2 {
    float: right;
}



body {
    background-color: #878787;
    font-family: cursive;
}

.jumbotron {
    background: none;


}

.glow {
 
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}



@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px yellow, 0 0 20px yellow, 0 0 30px #8A2BE2, 0 0 40px #8A2BE2, 0 0 50px #8A2BE2, 0 0 60px #8A2BE2, 0 0 70px #8A2BE2;
    }

    to {
        text-shadow: 0 0 20px yellow, 0 0 20px yellow, 0 0 40px #8A2BE2, 0 0 50px #8A2BE2, 0 0 60px #8A2BE2, 0 0 70px #8A2BE2, 0 0 80px #8A2BE2;
    }
}

@-webkit-keyframes bb {
    from {
        box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #fff, 0 0 60px #fff, 0 0 70px #fff;
    }

    to {
        box-shadow: 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ffff, 0 0 50px #ffff, 0 0 60px #ffff, 0 0 70px #fff, 0 0 80px #fff;
    }
}

.bb {
    height: 50px;
    width: 38px;
    background: transparent;
    -webkit-animation: bb 1s ease-in-out infinite alternate;
    -moz-animation: bb 1s ease-in-out infinite alternate;
    animation: bb 1s ease-in-out infinite alternate;

}

.logos {
    max-width: 1800px;

}



body {
    background-image: linear-gradient(to right, rgb(102, 95, 95), black, rgb(102, 95, 95));
}






.glow {
font-weight: 900;
font-size: 4.0em;
}

.glow .letter {
display: inline-block;
line-height: 1em;
}

.logos .logo{
display: inline-block;
line-height: 1em;
}


.playerInfo{
    color : white
}
.bb{
    
    color: white;
  


    cursor: pointer;
  }
  
  .dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .fade{
      position: relative;
  }