#gameBody{
    background-image: linear-gradient(to right, black, white, black);
}
#hoop{
    position: relative;
    left: 460px;
    top: 20px;
}
#ball{
    height: 100px;
    width: 100px;
    position: relative;
    top: 375px;
    left: 220px;   
}
.scoreboard{
    background-color: purple;
    width: 200px;
    height: 150px;
    position: relative;
    left: 450px;
    top: 125px;
    text-align: center;
    font-weight: bold;
    border-style: solid;
    border-width: 2px;
    border-color: yellow;
}
.ball{
    height: 100px;
    width: 100px;
    position: fixed;
    bottom : 35px;
    left : 595px;
}
.time{
    font-size: 20px;
}
.homeScore,.awayScore{
    font-size: 25px;
}
.glow {
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}
    @-webkit-keyframes glow {
        from {
            text-shadow: 0 0 10px yellow, 0 0 20px yellow, 0 0 30px #8A2BE2, 0 0 40px #8A2BE2, 0 0 50px #8A2BE2, 0 0 60px #8A2BE2, 0 0 70px #8A2BE2;
        }   

        to {
            text-shadow: 0 0 20px yellow, 0 0 20px yellow, 0 0 40px #8A2BE2, 0 0 50px #8A2BE2, 0 0 60px #8A2BE2, 0 0 70px #8A2BE2, 0 0 80px #8A2BE2;
        }
    }