#gameBody{
    background-image: linear-gradient(to right, black, white, black);
}
#hoop{
    position: relative;
    left: 460px;
    top: 20px;
}
#ball{
    height: 100px;
    width: 100px;
    position: relative;
    top: 375px;
    left: 220px;   
}
.scoreboard{
    background-color: purple;
    width: 200px;
    height: 150px;
    position: relative;
    left: 450px;
    top: 125px;
    text-align: center;
    font-weight: bold;
    border-style: solid;
    border-width: 2px;
    border-color: yellow;
}
.time{
    font-size: 20px;
}
.homeScore,.awayScore{
    font-size: 25px;
}